# Django
SECRET_KEY=sua-chave-secreta-aqui
DEBUG=True

# Banco de Dados
DB_NAME=vetsystem_db
DB_USER=postgres
DB_PASSWORD=senha
DB_HOST=localhost
DB_PORT=5432

# Email (Gmail exemplo)
EMAIL_HOST_USER=seu-email@gmail.com
EMAIL_HOST_PASSWORD=sua-senha-app-gmail

# Redis (para Celery)
REDIS_URL=redis://localhost:6379/0
